node_modules/**/*
.expo/*
ios/Pods/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

android/app/build
build/
android/.gradle
android/.idea
local.properties
.iml

# macOS
.DS_Store
node_modules
